
#map {
    height: 0px;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("golf-course2.jpg");
    background-position: center;
    background-size: cover;
    color: #E5EDF5;
}
.wrapper{
    width: 100%;
}
.container{
    background-color: #004800;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 30px;
}
#courseselect{
    width: 50%;
    margin: 2px auto;

}
#teeselect{
    width: 50%;
    margin: 2px auto;
}
#done-btn{
    width: 10%;
    margin: 2px auto;

}
.column {
    /*border: 1px solid #dddddd;*/
    width: 100%;
    height: auto;
    /*overflow: hidden;*/
    margin-right: 2px;
}
.scoreColumn{
    display: flex;
    justify-content: flex-start;
}
.headerColumn{
    display: flex;
    justify-content: flex-start;
}
.header-class{
    border: 1px solid #dddddd;
    width: 100%;
    min-height: 70px;
}
#header{
    border: 1px solid #dddddd;
    width: 100%;
    min-height: 70px;
}
.holeinput{
    width: 100%;
    border: 1px solid #dddddd;
    height: 30px;
    overflow: hidden;
    /*margin-left: 3px;*/
}
.card{
    display: flex;
    justify-content: flex-start;
    background-color: #2B3819;
    color: white;
    margin-top: 50px;
}
.players-column{
    width: 80px;
}
#top-corner{
    min-height: 70px;
}
.player-names{
    height: 30px;
    font-size: 20px;
}
.delete-btn{
    background-image: url("red-minus.png");
    background-position: center;
    background-size: cover;
    width: 10px;
    height: 10px;
}
.player-name-sec{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    font-size: 10px;
    width: 200px;
    margin: 3.5%;
}
.scoreboxes{
    width: 100%;
    height: 30px;
    border: solid 1px;
    min-height: 15px;
}
.completeScoreColumn{
    display: flex;
    justify-content: flex-start;
}
.inputThatSucks{
    width: 100%;
    height: 100%;
}
#playerNamesPage{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.totalScore{
    width: 100%;

}
.totals-div{
    border: solid 2px;
    width: auto;
}
.total-yardage{
    border: solid 1px;
}
.over-all-par{
    border: solid 1px;
}
.players-over-all-par{
    border: solid 1px;
    display: flex;
    justify-content: flex-start;
}
.totals-div-container{
    width: 50%;
    margin: auto;
}
.bottom-total{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player-names-bottom-box{
    width: 50%;
}
.total-par{
    width: 50%;
}
.bottom-total-par-sec{
    display: flex;
    border: solid 1px;
}
.container-for-BLNT{
    display: flex;
}